$black-color: #000000;
$accent-color: #e3cb26;
$hover-color: #efff43;
$third-color: #ff4d4f;
$white-color: #e6e5e3;
$grey-color: #232323;
$error-color: #ff4d4f;

$radius: 8px;
$big-radius: 30px;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
$font: "Press Start 2P", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Average+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
$secondary-font: "Roboto", sans-serif;
