ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

h2,
p {
  margin-top: 20px;
}
.instructionSection {
  padding: 100px 0;
}
.instructionTitle {
  text-align: center;
  font-family: $font;
  font-size: 40px;
  color: white;

  &:hover {
    color: $hover-color;
  }
}

.modalContent {
  background-color: $black-color;
  color: $white-color;
  padding: 20px;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  width: 80%;
  margin: 0 auto;
  max-width: 1138px;
  border-radius: 10px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: $error-color;
  color: $white-color;
  border: 2px solid $error-color;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 4px $black-color;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    background-color: #000000;
  }
}

.spaceKey {
  width: 120px;
}

.key span {
  font-size: 12px;
}

.key:active {
  box-shadow: 0 2px $black-color;
  transform: translateY(2px);
}

.explanation {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .text {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
